<div class="col-xs-12 col-sm-4 col-sm-offset-4" id="my-earnings">

	<form action="" id="sky-form" class="sky-form">
			<header class='text-center'>Directions</header>
				
			<fieldset>
				<section>
					<div class="home-text">
				        1. Select 'New Meal' from the menu. 
						<br>
						<br>
				        2. Enter information in the <em>Enter the Meal Details</em> panel. 
						<br>
						<br>
				        3. Click Submit! 
				        <br>
				        <br>
				        (Click 'My Earnings' to view your earnings.)
				    </div>
				</section>
				
			</fieldset>
	</form>

</div>